In [4]:
emp_records = """\
[(1, 'Nick $$#  Jr.', 23, '45000.0$'),
 (2, 'Nick Jr.', 63, '245000.0&&'),
 (3, 'Nick Sr.', 53, 145000.0),
 (4, 'Dan  ^^', 23, '45000.0'),
 (5, 'Steve', 23, 46000.0), 
 (6, 'Steve Jr.', 24, '*****146000.0'), 
 (7, '&&^^Steve    Sr.', 65, 446000.0)]
"""

In [5]:
import ast, re

total_salary = sum(
    float(re.sub(r'[^0-9.]', '', str(emp[3])))
    for emp in ast.literal_eval(emp_records)
)

print(total_salary)

1118000.0

In [6]:
import ast

names = [
    emp[1]
    for emp in ast.literal_eval(emp_records)
    if emp[2] < 25
]

print(names)

['Nick $$#  Jr.', 'Dan  ^^', 'Steve', 'Steve Jr.']

In [7]:
import ast, re

records = ast.literal_eval(emp_records)

updated_data = [
    (
        emp[0],
        emp[1],
        emp[2],
        salary := float(re.sub(r'[^0-9.]', '', str(emp[3]))),
        round(
            salary * (0.95 if salary <= 500000
                      else 0.90 if salary < 1000000
                      else 0.85),
            2
        )
    )
    for emp in records
]

for row in updated_data:
    print(row)

(1, 'Nick $$#  Jr.', 23, 45000.0, 42750.0)
(2, 'Nick Jr.', 63, 245000.0, 232750.0)
(3, 'Nick Sr.', 53, 145000.0, 137750.0)
(4, 'Dan  ^^', 23, 45000.0, 42750.0)
(5, 'Steve', 23, 46000.0, 43700.0)
(6, 'Steve Jr.', 24, 146000.0, 138700.0)
(7, '&&^^Steve    Sr.', 65, 446000.0, 423700.0)