In [1]:
n = int(input("Enter the number: "))
n1 = int(input("Enter the number: "))

sum_result = n + n1

sub_result = n - n1

print(sum_result)

print(sub_result)

50
0

In [2]:
m1 = int(input("Enter the number: "))
m2 = int(input("Enter the number: "))

mul_result = m1 * m2

div_result = m1 / m2

print(mul_result)

print(div_result)

5550
0.11261261261261261

In [2]:
L1 = int(input("Enter the number"))

square = L1 **2
cube = L1 ** 3

print(square)
print(cube)

100
1000

In [6]:
import math
num = int(input("enter the number: "))

if num >= 0:
    result = math.sqrt(num)
    print("the square root of{num} is {result} ")
else:
    print("cannot calculate Square root")
    print(" neagative number in complex number.")

the square root of{num} is {result}

In [7]:
w1 = int(input("Enter the number: "))

area = w1 ** 2 
perimeter = w1 * 4

print(area)
print(perimeter)

484
88

In [8]:
import math

Q1 = int(input("Enter the number: "))

area = math.pi * Q1 ** 2
circumference = 2 * math.pi * Q1

print(float(area))
print(int(circumference))

1520.53084433746
138

In [9]:
n = int(input("Enter the value: "))

area_of_sphere = 4 * math.pi * n **2

print(float(area_of_sphere))

7853.981633974483

In [10]:
r = int(input("Enter the value: "))
h = int(input("Enter the height: "))

Volume_of_Cylinder = math.pi * r ** 2 * h

print(int(Volume_of_Cylinder))

508704353

In [ ]:
def calculate_age_in_days(birth_date_str):

    birth_date = datetime.strptime(birth_date_str, "%Y-%m-%d")
    
    today = datetime.today()
    
    age_in_days = (today - birth_date).days
    
    return age_in_days

    dob = input("Enter your date of birth (YYYY-MM-DD): ")
try:
    age_days = calculate_age_in_days(dob)
    print(f"You are {age_days} days old.")
except ValueError:
    print("Invalid date format. Please use YYYY-MM-DD.")

NameError: name 'datetime' is not defined

In [14]:
P = int(input("Enter the principal: "))
R = int(input("Enter the rate of interest: "))
T = int(input("Enter the Time:"))

Simple_interest = (P * R * T) / 100

compound_interest = P * ((1 + R / 100) ** T) - P
print(Simple_interest)
print(compound_interest)

8.8
10.919593415517607

In [5]:
import math

r = int(input("Enter the radius: "))

area = math.pi * r **2
circumference = 2 * math.pi *r

print(int(area))
print(int(circumference))

1256
125

In [6]:
m = int(input("Enter the mass:"))
g = int(input("Enter the gravity:"))
h = int(input("Enter the height:"))
v = int(input("Enter the velocity:"))

E = m * g * h + 0.5 * m * v **2

print(int(E))

12000

In [7]:
total = int(input("Enter the total Seconds: "))

Hour = total // 3600
Minute = (total % 3600) // 60
second = total %60

print(Hour)
print(Minute)
print(second)

0
0
2

In [12]:
cost_price_per_litre = 3.25
selling_price_per_litre = 4.15

milk = 4
Water = 1

total_cost_price = cost_price_per_litre * milk
total_selling_price = selling_price_per_litre * (milk + Water)

profit = total_selling_price - total_cost_price

print(profit)

7.75

In [5]:
Fahrenheit = int(input("Enter temperature in Fahrenheit: "))

celsius = 5/9 * (Fahrenheit - 32)

print(celsius)

-5.555555555555555

In [8]:
a = int(input("Enter the number: "))
b = int(input("Enter the number: "))

a = a + b
b = b - a
a = a - b

print("After swapping:")
print(a)
print(b)

After swapping:
15
-5

In [10]:
import math


x1 = int(input("Enter x1: "))
x2 = int(input("Enter x2: "))
y1 = int(input("Enter y1: "))
y2 = int(input("Enter y2: "))

Distance = math.sqrt((x2 - x1) ** 2 + (y2 -y1) **2)

print(Distance)

14.142135623730951

In [11]:
Basic = int(input("Enter the Basic Salary: "))

DA = 0.4 * Basic
HRA = 0.2 * Basic

amount = Basic + DA + HRA
print(amount)

80000.0

In [13]:
km = int(input("Enter the distance in Kilometers: "))

meter = km * 1000
centimeter = km * 100000

print(meter)
print(centimeter)

100000
10000000

In [14]:
dollor = int(input("enter the amount in dollars: "))
rate = 83

inr = dollor * rate

print(inr)

830

In [16]:
address = input("Enter your address: ")

print(address)

63-20-2025

In [17]:
base = int(input("Enter the base: "))
height = int(input("Enter the height: "))

area = 0.5 * base * height
print(area)

60.0

In [19]:
import math

a = int(input("Enter the number: "))
b = int(input("Enter the number: "))
c = int(input("Enter the number: "))

s = (a + b + c) / 2

area = math.sqrt(s * (s - a) * (s - b) * (s - c))

print(area)

498.3246306374992

In [95]:
m1 = int(input("Enter the marks of subject 1: "))
m2 = int(input("Enter the marks of subject 2: "))
m3 = int(input("Enter the marks of subject 3: "))

total = m1 + m2 + m3
avg = total / 3

if avg >= 75:
    print("Excellent")
elif avg >= 60:
    print("Good")
elif avg >= 40:
    print("pass")
else:
    print("Fail")

Excellent

In [23]:
n = int(input("Enter the number: "))

if n > 0:
    print("Positive number")
else:
    print("Negative number")

Negative number

In [24]:
n = int(input("Enter the number: "))

if n % 2 == 0:
    print("Even nunber")
else:
    print("Odd number")

Odd number

In [28]:
n = int(input("Enter the number: "))
n1 = int(input("Enter the number: "))

if n < n1:
    print("smallest number is", n)
else:
    print(f"smallest number is", n1)

smallest number is 45

In [31]:
n = int(input("Enter the year: "))
n1 = int(input("Enter the year: "))
n2 = int(input("Enter the year: "))

if n > n1 and n > n2:
    print("greater number is", n)
elif n1 > n and n1 > n2:
    print("greater number is", n1)
else:
    print("greater number is", n2)

greater number is 102

In [33]:
n = int(input("Enter the year: "))

if n % 400 == 0:
    print("leap year")
elif n% 100 == 0:
    print("not leap year")
elif n % 4 == 0:
    print("Leap year")
else:
    print("not leap year")

leap year

In [36]:
a = int(input("Enter the value: "))
b = int(input("Enter the Value: "))
c = int(input("Enter the Value: "))

D = b**2 - 4*a*c

if D > 0:
    root1 = -b + math.sqrt(D) / 2*a
    root2 = -b - math.sqrt(D) / 2*a

    print(root1)
    print(root2)

elif D == 0:
    root = -b / (2*a)
    print(root)

else:
    real = -b / (2*a)
    image = math.sqrt (abs(D)) / 2*a
    print(f'root1 = {real} + {image}i')
    print(f'root2 = {real} - {image}i')

root1 = -0.6 + 3368.4974395121635i
root2 = -0.6 - 3368.4974395121635i

In [93]:
while True:
    n = int(input("Enter the value: "))

    if n < 0:
        print("Negative numbers")
        break

    print("you entered", num)

you entered 1
you entered 1
Negative numbers

In [52]:
total = 0

for i in range(5):
    num = int(input("Enter the number"))

if True:
    sum = total + num

print(sum)

1

In [57]:
a = int(input("Enter the value: "))
b = int(input("Enter the value: "))
c = int(input("Enter the Value: "))

if  (a*a)+(b*b)==(c*c) or (b*b)+(c*c)==(a*a) or (c*c)+(a*a)==(b*b):
    print("right angled triangle")

elif (a==b) and (b==c):
    print("equilateral triangle")

elif (a==b) or (b==c) or (c==a):
    print("isoceles triangle")

else:
    print("scalen triangle")

isoceles triangle

In [60]:
n = int(input("Enter the number: "))

if n >= 50000:
    income = 375 + (0.16 * n)

elif n >= 40000:
    income = 350 + (0.14 * n)

elif n >= 30000:
    income = 325 + (0.12 * n)

elif n >= 20000:
    income = 300 + (0.9 * n)

elif n >= 10000:
    income = 250 + (0.5 * n)

else:
    income = 200 + (0.3 * n)

print("Monthly income = ", income)

Monthly income =  8375.0

In [62]:
n = int(input("Enter the digit "))

a = n // 100

b = (n // 10) % 10

c = n % 10

if b == a + c:
   print("Middle digit is equal")

else:
   print("Middle digit is not equal")

Middle digit is not equal

In [67]:
marital_status = input("Enter marital status (married/unmarried): ").lower()
sex = input("Enter sex (male/female): ").lower()
age = int(input("Enter age: "))

if marital_status == "married":
    print("Driver is insured")

else:  
    if sex == "male":
        if age > 30:
            print("Driver is insured")
        else:
            print("Driver is NOT insured")
    
    else: 
        if age > 25:
            print("Driver is insured")
        else:
            print("Driver is NOT insured")

Driver is NOT insured

In [70]:
count = 0

while True:
    ch = input("Enter a character: ")

    if ch == '$':
        break

    count += 1

print("Number of characters entered =", count)

Number of characters entered = 1

In [ ]:
ch = input("Enter the Character: ")

if ch >= 'A' and ch <= 'Z':
    print("Uppercase Character")

elif ch >= 'a' and ch <= 'z':
    print("Lowercase Character")

else:
    print("Not a alphabet character")

Not a alphabet charactor

In [75]:
ch = input("Enter a lowercase Value: ")

upper = chr(ord(ch)- 32)

print("Uppercase letter is:", upper)

Uppercase letter is: A

In [77]:
ch = input("Enter the character")

if ch >= '0' and ch <= '9':
    print("Digit")

elif ch >= 'A' and ch <= 'Z':
    print("Upper Characters")

elif ch >= 'a' and ch <= 'z':
    print("Lower Character")

else:
    print("Special Character")

Special Character

In [81]:
ch = input("Enter the character")

match ch:
    case __ if ch >='0' and ch <='9':
        print("Digit")

    case __ if ch >='A' and ch <='Z':
        print("Upper Character")

    case __ if ch >='a' and ch <='z':
        print("Lower Character")

    case __ :
        print("Special Character")

Lower Character

In [83]:
ch = input("Enter the vowel: (a,b,c,d,),").lower()

match ch:
    case 'a':
        print("Apple")
    
    case 'b':
        print("Banana")

    case 'c':
        print("Cat")

    case 'd':
        print("Don")

    case _:
        print("not of Vowel")

Apple

In [91]:
n = int(input("Enter the number: "))
n1 = int(input("Enter the numbeer:"))

match n > n1:
    case True:
        print("Biggest number is:", n)

    case False:
        print("Biggest number is:", n1)

Biggest number is: 40

In [102]:

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

operator = input("Enter operator (+, -, *, /): ")

match operator:
    case '+':
        result = num1 + num2
        print(f"{num1} + {num2} = {result}")
    case '-':
        result = num1 - num2
        print(f"{num1} - {num2} = {result}")
    case '*':
        result = num1 * num2
        print(f"{num1} * {num2} = {result}")
    case '/':
        if num2 != 0:
            result = num1 / num2
            print(f"{num1} / {num2} = {result}")
        else:
            print("Error: Division by zero is not allowed.")
    case _:
        print("Invalid operator! Please use +, -, *, or /.")

55.0 - 88.0 = -33.0

In [105]:

amount = int(input("Enter the amount: "))

denominations = [500, 100, 20, 10, 5, 2, 1]

for note in denominations:
    match note:
        case 500:
            count = amount // 500
            amount = amount % 500
            print(f"500 notes: {count}")
        case 100:
            count = amount // 100
            amount = amount % 100
            print(f"100 notes: {count}")
        case 20:
            count = amount // 20
            amount = amount % 20
            print(f"20 notes: {count}")
        case 10:
            count = amount // 10
            amount = amount % 10
            print(f"10 notes: {count}")
        case 5:
            count = amount // 5
            amount = amount % 5
            print(f"5 notes: {count}")
        case 2:
            count = amount // 2
            amount = amount % 2
            print(f"2 notes: {count}")
        case 1:
            count = amount // 1
            amount = amount % 1
            print(f"1 notes: {count}")

500 notes: 1
100 notes: 3
20 notes: 0
10 notes: 0
5 notes: 0
2 notes: 0
1 notes: 0

In [104]:

day = int(input("Enter day (1-31): "))
month = int(input("Enter month (1-12): "))
year = int(input("Enter year: "))

match month:
    case 1:
        month_name = "January"
    case 2:
        month_name = "February"
    case 3:
        month_name = "March"
    case 4:
        month_name = "April"
    case 5:
        month_name = "May"
    case 6:
        month_name = "June"
    case 7:
        month_name = "July"
    case 8:
        month_name = "August"
    case 9:
        month_name = "September"
    case 10:
        month_name = "October"
    case 11:
        month_name = "November"
    case 12:
        month_name = "December"
    case _:
        month_name = "Invalid"

if month_name != "Invalid":
    print(f"The date is: {day} {month_name} {year}")
else:
    print("Invalid month entered!")

The date is: 2 February 2000

In [3]:
name = input("ENter the name: ")
n = int(input("Enter the number: "))

for i in range(n):
    print(name)

KIshan
KIshan
KIshan
KIshan
KIshan
KIshan
KIshan

In [5]:
n = int(input("Enter the value: "))
arr = []

for i in range(n):
    arr.append(input("Enter the value: "))

In [ ]:
# Read array elements
n = int(input("Enter the number of elements: "))
arr = []

for i in range(n):
    arr.append(int(input("Enter element: ")))

# Read number to search
num = int(input("Enter number to search: "))

# Check existence
if num in arr:
    print("Number exists in the array.")
else:
    print("Number does NOT exist in the array.")

In [155]:
n = int(input("Enter n: "))

_sum = 0
for i in range(1, n + 1):
    _sum += i

print("Sum =", _sum)

Sum = 253

In [ ]:
n = int(input("Enter how many numbers: "))

_sum = 0
for i in range(n):
num = int(input("Enter number: "))  
    _sum += num

print("Sum of distinct numbers =", _sum)

ValueError: invalid literal for int() with base 10: ''

In [159]:
n = int(input("Enter n: "))

_sum = 0
for i in range(1, n + 1):
    _sum += 2 * i

print("Sum of even n natural numbers =", _sum)

Sum of even n natural numbers = 110

In [1]:
c = 1

for i in range(1,5):
    for j in range(1, i+1):
        print(c, end=' ')
        c += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [6]:
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
for i in range(1,6):
    for j in range(1, i+1):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
n = int(input("Enter number of rows: "))

for i in range(n):
    row = [1] 
    for j in range(1, i + 1):
        row.append(j)
    row.append(1)
    print(' '.join(map(str, row)))

1 1
1 1 1
1 1 2 1
1 1 2 3 1

In [12]:
for i in range(5,0,-1):
    for j in range(1, i+1):
        print(i, end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [14]:
for i in range(5,0,-1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [1]:
n = int(input("Enter n: "))

for i in range(1, n + 1):
    for j in range(n - i + 1):
        print(i, end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
n = int(input("Enter n: "))

for i in range(n):
    for j in range(n, i, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

:

In [ ]:
n = int(input("Enter n: "))

for i in range(1, n + 1):
    for j in range(n, n - i, -1):
        print(j, end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [57]:
n = 5
for i in range(1, n + 1):
    for j in range(i - 1):
        print(" ", end=" ")
    for k in range(n - i + 1):
        print(i, end=" ")
    print()

1 1 1 1 1
  2 2 2 2
    3 3 3
      4 4
        5

In [ ]:
n = 4
n1 = 5
for i in range(n):
    for j in range(i * 2):
        print(" ", end="")
    for k in range(1, n1 - i + 1):
        print(k, end=" ")
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2

In [145]:
n = 5

for i in range(n):
    for j in range(i):
        print(" ", end=" ")
    for k in range(1, n - i + 1):
        print(i + k, end=" ")
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [ ]:
rows = 5

for i in range(1, rows + 1):
    for s in range(rows - i):
        print("  ", end="")

    for j in range(i, 0, -1):
        print(j, end=" ")

    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [146]:
n = int(input())

_sum = 0
for i in range(1, n):
    if n % i == 0:
        _sum += 1
if _sum == n:
    print("Perfect Square")
else:
    print("Not perfect Square")

Not perfect Square

In [147]:
num = int(input("Enter a number: "))
rev = 0

while num > 0:
    digit = num % 10        
    rev = rev * 10 + digit
    num = num // 10         

print("Reversed number:", rev)

Reversed number: 32

In [148]:
n = input("Enter a number: ")
_sum = 0
for i in range(len(n)):
     _sum += int((int(n[i]) ** len(n)))
if _sum == int(n):
    print('Armstrong')
else:
    print('not Armstrong')

Armstrong

In [151]:
n = int(input("Enter a number: "))

count = 0

for i in range(1, n + 1):
    if n % i == 0:
        count += 1

if count == 2:
    print("Prime Number")
else:
    print("Not a Prime Number")

Prime Number

In [152]:
n = int(input("Enter the value: "))

temp = n
rev = 0

while n > 0:
    digit = n % 10
    rev = rev * 10 + digit
    n = n // 10

if rev == temp:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [1]:
n = int(input("Enter a number: "))

square = n * n

if str(square).endswith(str(n)):
    print("Automorphic Number")
else:
    print("Not an Automorphic Number")

Not an Automorphic Number

In [2]:
n = int(input("Enter number: "))

square = n * n
temp = n

flag = True
while temp > 0:
    if temp % 10 != square % 10:
        flag = False
        break
    temp //= 10
    square //= 10

if flag:
    print("Automorphic Number")
else:
    print("Not Automorphic Number")

Not Automorphic Number

In [3]:
for i in range(1, 100):
    print(i, end=" ")
    if i % 5 == 0:
        print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
26 27 28 29 30
31 32 33 34 35
36 37 38 39 40
41 42 43 44 45
46 47 48 49 50
51 52 53 54 55
56 57 58 59 60
61 62 63 64 65
66 67 68 69 70
71 72 73 74 75
76 77 78 79 80
81 82 83 84 85
86 87 88 89 90
91 92 93 94 95
96 97 98 99

In [4]:
for i in range(1, 20):
    for j in range(0, 5):
        num = i + j * 20
        print(num, end= ' ')
    print()

1 21 41 61 81
2 22 42 62 82
3 23 43 63 83
4 24 44 64 84
5 25 45 65 85
6 26 46 66 86
7 27 47 67 87
8 28 48 68 88
9 29 49 69 89
10 30 50 70 90
11 31 51 71 91
12 32 52 72 92
13 33 53 73 93
14 34 54 74 94
15 35 55 75 95
16 36 56 76 96
17 37 57 77 97
18 38 58 78 98
19 39 59 79 99

In [12]:
arr = []

for i in range(9):
    a.append(int(input("Enter the Elements: ")))

for i in range(0,9,3):
    print(a[i], a[i+1], a[i+2])

5 5 5
33 22 55
66 44 55

In [15]:
n = int(input("Enter the value:"))

for i in range(1, 11):
    print(n,"*",i, "=", n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [4]:
arr = []

for i in range(5):
    arr.append(int(input("Enter the Number: ")))

big = arr[0]
for x in arr:
    if x > big:
        big = x

print("Biggest number =", big)

Biggest number = 55

In [8]:
arr = []

print("Enter 5 real numbers:")
for i in range(5):
    arr.append(float(input()))

pos = 0
neg = 0
zero = 0

for x in arr:
    if x > 0:
        pos += 1
    elif x < 0:
        neg += 1
    else:
        zero += 1

print("Positive numbers :", pos)
print("Negative numbers :", neg)
print("Zeros :", zero)

Enter 5 real numbers:
Positive numbers : 3
Negative numbers : 1
Zeros : 1

In [ ]:
numbers = []

print("Enter 10 real numbers:")
for i in range(10):
    n = float(input(f"Enter number {i+1}: "))
    numbers.append(n)

pos = neg = zero = 0  # counters

for n in numbers:
    if n > 0:
        pos += 1
    elif n < 0:
        neg += 1
    else:
        zero += 1

print("Total Positive Numbers =", pos)
print("Total Negative Numbers =", neg)
print("Total Zeros =", zero)

Enter 10 real numbers:
Total Positive Numbers = 4
Total Negative Numbers = 3
Total Zeros = 3

In [2]:
number = []

for i in range(1, 51):
    number.append(i)
print("Number is divisble by both 3 and 7: ")

for n in number:
    if n %3 ==0 and n%7==0:
        print(n)

Number is divisble by both 3 and 7:
21
42

In [13]:
n = int(input("Enter the number: "))

sum = 0
product = 1

while n > 0:
    d = n % 10
    sum += d
    product *= d
    n = n // 10

print(sum)
print(product)

3
2

In [15]:
n = int(input("Enter the number "))

sum = 0
product = 0

while n > 0:
    d = n % 10
    if d % 2 == 0:
        sum += d
    else:
        product *= d
    n = n // 10

print(sum)
print(product)

2
0

In [25]:
n = int(input("Enter the Number: "))
rev = 0

while n > 0:
    d = n % 10
    rev = rev * 10 + d
    n = n // 10

print(rev)

987654321

In [24]:
n = int(input("Enter the Number: "))
count = 0

while n > 0:
    d = n % 10
    count += 1
    n = n // 10
    
print(count)

9

In [35]:
n = int(input("Enter the number: "))
fact = 1

for i in range(1, n +1):
    fact *= i

print(fact)

120

In [45]:
print("prime number from 1 to 99: ")

for i in range(2, 100):
    is_prime = True

    for j in range(2, i):
        if i % j == 0:
            is_prime = False
            break

    if is_prime:
        print(i)

prime number from 1 to 99:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [56]:
n = int(input("Enter how many terms you want: "))

a, b = 0, 1

for i in range(n):
    print(a)
    a, b = b, a + b

0
1

In [1]:
fact = 1

for i in range(1, 99):
    fact *= i
    print(fact)

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
6227020800
87178291200
1307674368000
20922789888000
355687428096000
6402373705728000
121645100408832000
2432902008176640000
51090942171709440000
1124000727777607680000
25852016738884976640000
620448401733239439360000
15511210043330985984000000
403291461126605635584000000
10888869450418352160768000000
304888344611713860501504000000
8841761993739701954543616000000
265252859812191058636308480000000
8222838654177922817725562880000000
263130836933693530167218012160000000
8683317618811886495518194401280000000
295232799039604140847618609643520000000
10333147966386144929666651337523200000000
371993326789901217467999448150835200000000
13763753091226345046315979581580902400000000
523022617466601111760007224100074291200000000
20397882081197443358640281739902897356800000000
815915283247897734345611269596115894272000000000
33452526613163807108170062053440751665152000000000
1405006117752879898543142606244511569936384000000000
60415263063373835637355132068513997507264512000000000
2658271574788448768043625811014615890319638528000000000
119622220865480194561963161495657715064383733760000000000
5502622159812088949850305428800254892961651752960000000000
258623241511168180642964355153611979969197632389120000000000
12413915592536072670862289047373375038521486354677760000000000
608281864034267560872252163321295376887552831379210240000000000
30414093201713378043612608166064768844377641568960512000000000000
1551118753287382280224243016469303211063259720016986112000000000000
80658175170943878571660636856403766975289505440883277824000000000000
4274883284060025564298013753389399649690343788366813724672000000000000
230843697339241380472092742683027581083278564571807941132288000000000000
12696403353658275925965100847566516959580321051449436762275840000000000000
710998587804863451854045647463724949736497978881168458687447040000000000000
40526919504877216755680601905432322134980384796226602145184481280000000000000
2350561331282878571829474910515074683828862318181142924420699914240000000000000
138683118545689835737939019720389406345902876772687432540821294940160000000000000
8320987112741390144276341183223364380754172606361245952449277696409600000000000000
507580213877224798800856812176625227226004528988036003099405939480985600000000000000
31469973260387937525653122354950764088012280797258232192163168247821107200000000000000
1982608315404440064116146708361898137544773690227268628106279599612729753600000000000000
126886932185884164103433389335161480802865516174545192198801894375214704230400000000000000
8247650592082470666723170306785496252186258551345437492922123134388955774976000000000000000
544344939077443064003729240247842752644293064388798874532860126869671081148416000000000000000
36471110918188685288249859096605464427167635314049524593701628500267962436943872000000000000000
2480035542436830599600990418569171581047399201355367672371710738018221445712183296000000000000000
171122452428141311372468338881272839092270544893520369393648040923257279754140647424000000000000000
11978571669969891796072783721689098736458938142546425857555362864628009582789845319680000000000000000
850478588567862317521167644239926010288584608120796235886430763388588680378079017697280000000000000000
61234458376886086861524070385274672740778091784697328983823014963978384987221689274204160000000000000000
4470115461512684340891257138125051110076800700282905015819080092370422104067183317016903680000000000000000
330788544151938641225953028221253782145683251820934971170611926835411235700971565459250872320000000000000000
24809140811395398091946477116594033660926243886570122837795894512655842677572867409443815424000000000000000000
1885494701666050254987932260861146558230394535379329335672487982961844043495537923117729972224000000000000000000
145183092028285869634070784086308284983740379224208358846781574688061991349156420080065207861248000000000000000000
11324281178206297831457521158732046228731749579488251990048962825668835325234200766245086213177344000000000000000000
894618213078297528685144171539831652069808216779571907213868063227837990693501860533361810841010176000000000000000000
71569457046263802294811533723186532165584657342365752577109445058227039255480148842668944867280814080000000000000000000
5797126020747367985879734231578109105412357244731625958745865049716390179693892056256184534249745940480000000000000000000
475364333701284174842138206989404946643813294067993328617160934076743994734899148613007131808479167119360000000000000000000
39455239697206586511897471180120610571436503407643446275224357528369751562996629334879591940103770870906880000000000000000000
3314240134565353266999387579130131288000666286242049487118846032383059131291716864129885722968716753156177920000000000000000000
281710411438055027694947944226061159480056634330574206405101912752560026159795933451040286452340924018275123200000000000000000000
24227095383672732381765523203441259715284870552429381750838764496720162249742450276789464634901319465571660595200000000000000000000
2107757298379527717213600518699389595229783738061356212322972511214654115727593174080683423236414793504734471782400000000000000000000
185482642257398439114796845645546284380220968949399346684421580986889562184028199319100141244804501828416633516851200000000000000000000
16507955160908461081216919262453619309839666236496541854913520707833171034378509739399912570787600662729080382999756800000000000000000000
1485715964481761497309522733620825737885569961284688766942216863704985393094065876545992131370884059645617234469978112000000000000000000000
135200152767840296255166568759495142147586866476906677791741734597153670771559994765685283954750449427751168336768008192000000000000000000000
12438414054641307255475324325873553077577991715875414356840239582938137710983519518443046123837041347353107486982656753664000000000000000000000
1156772507081641574759205162306240436214753229576413535186142281213246807121467315215203289516844845303838996289387078090752000000000000000000000
108736615665674308027365285256786601004186803580182872307497374434045199869417927630229109214583415458560865651202385340530688000000000000000000000
10329978488239059262599702099394727095397746340117372869212250571234293987594703124871765375385424468563282236864226607350415360000000000000000000000
991677934870949689209571401541893801158183648651267795444376054838492222809091499987689476037000748982075094738965754305639874560000000000000000000000
96192759682482119853328425949563698712343813919172976158104477319333745612481875498805879175589072651261284189679678167647067832320000000000000000000000
9426890448883247745626185743057242473809693764078951663494238777294707070023223798882976159207729119823605850588608460429412647567360000000000000000000000

In [3]:
for n in range(2, 100):
    is_prime = True
    for i in range(2, n):
        if n % i == 0:
            is_prime = False
            break

    if is_prime:
        fact = 1
        for j in range(1, n+1):
            fact *= 1
            print(n, "! = ", fact)

2 ! =  1
2 ! =  1
3 ! =  1
3 ! =  1
3 ! =  1
5 ! =  1
5 ! =  1
5 ! =  1
5 ! =  1
5 ! =  1
7 ! =  1
7 ! =  1
7 ! =  1
7 ! =  1
7 ! =  1
7 ! =  1
7 ! =  1
11 ! =  1
11 ! =  1
11 ! =  1
11 ! =  1
11 ! =  1
11 ! =  1
11 ! =  1
11 ! =  1
11 ! =  1
11 ! =  1
11 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
13 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
17 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
19 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
23 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
29 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
31 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
37 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
41 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
43 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
47 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
53 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
59 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
61 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
67 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
71 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
73 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
79 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
83 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
89 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1
97 ! =  1

In [6]:
n = int(input("Enter a number: "))
result = 1

for i in range(n):
    result *= n
print("n power n", result)

n power n 256

In [8]:
n = int(input("Enter a number: "))
m = int(input("Enter a number:"))

result = 1

for i in range(n):
    result *= m
print("m power n", result)

m power n 16

In [4]:
n = int(input("Enter a number: "))
m = int(input("Enter a number:"))

power = 1

for i in range(n):
    result = 0
    for j in range(power):
        result += m
    power = result
print("m power n", result)

m power n 9

In [2]:
n = int(input("Enter how many numbers: "))

num = []
for i in range(n):
    num1 = int(input(f"Enter number {i + 1}: "))
    num.append(num1)

unique = list(set(num))

if len(unique)<2:
    print("Second number")

else:
    unique.sort()
    print("second number=", unique[-2])

second number= 45